* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
}

body {
    position: relative;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }

.slashgreen {
    color: #56FFCC;
    @include titleFont;
}
.slashpurple {
    margin: 0;
    color: #7856FF;
    @include titleFont;
}
.hidden {
    display: none;
}